/* * {
    font-family: sans-serif;
} */

body {
    background: linear-gradient(-45deg, #6D9886, #F2E7D5, #F7F7F7, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}


.cen{
    text-align: center;
}

